<div class="home_warp">
    <div class="homebox">
        <div class="home_bannerw">
            <div class="tempWarp">
                <ul class="home_banner">
                    <li><a href=""><img src="" alt=""></a></li>
                    <li><a href=""><img src="" alt=""></a></li>
                    <li><a href=""><img src="" alt=""></a></li>
                    <li><a href=""><img src="" alt=""></a></li>
                    <li><a href=""><img src="" alt=""></a></li>
                    <li><a href=""><img src="" alt=""></a></li>
                    <li><a href=""><img src="" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<style>
    .home_warp{
        width: 100%;
        min-width: 1200px;
        margin: 0 auto;
    }
    .homebox{
        width: 1200px;
        margin: 0 auto;
        padding: 20px 0 30px;
    }
    .home_bannerw{
        width: 1200px;
        height: 610px;
        margin: 0 auto;
        padding: 0 0 20px;
        position: relative;
        overflow: hidden;
    }
    .tempWarp{
        overflow: hidden;
        position: relative;
        width: 1200px;
    }
    .home_banner{
        width: 8400px;
        position: relative;
        /*overflow: hidden;*/
        padding: 0px;
        margin: 0px;
    }
    .home_banner li{
        width: 1200px;
        height: 610px;
        float: left;
    }
</style>